.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  vertical-align: middle;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.image-text {
  position: absolute;
  top: 100px;
  left: 50px;
  font-size: 64px;
  color: darkred;
  user-select: none;
  letter-spacing: 15px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
